<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001934211196-7bijf5p0l9v1fhf4cdrcct553c4sl87r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001934211196-7bijf5p0l9v1fhf4cdrcct553c4sl87r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001934211196-jvf368unheumeu2n5etf73gapu6p4ujj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJLXsyqD2fymmrwd41ORpjSv8YuGK43pI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001934211196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.amorfati.skillcraft</string>
	<key>PROJECT_ID</key>
	<string>skillcraft-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>skillcraft-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001934211196:ios:76ce98198fad569bab61f9</string>
</dict>
</plist>